<html>
<head>
<link rel="stylesheet" type="text/css" href="/login.css" media="screen" />

<title>QueMePongo Login</title>
</head>
<body>
	<div class="login-page">
	  <div class="form">
	  <h3>Login</h3>
	    <form class="login-form" action="/" method="POST">
	      <input type="text" placeholder="Nombre Usuario" name="nombreUsuario"/>
	      <input type="password" placeholder="Contraseña" name="pass"/>
	      <input type="submit">
	    </form>
	  </div>
	</div>

</body>
</html>
