{{#partial "contenido"}}

<h1> Eventos: </h1>

<ul>
	<li>{{descripcion}}</li>
	<li>{{frecuencia}}</li>
	
	{{! Falta mostrar la info especifica de la frecuencia}}
</ul>

{{/partial}}

{{>layout.hbs}}	
