{{#partial "contenido"}}
<form class="profile-form" action="/prendas/step-3" method="POST">
	  <div>
	    — Seleccione el guardarropas donde quiere almacenar:
	    <select name="guardarropa">
				{{#each guardarropas}}
	      <option value="{{id}}">{{id}}</option>
				{{/each}}
	     </select>
	   </div>
		 <button>Siguiente</button>
	 </form>

{{/partial}}
{{>layout.hbs}}
