<html>
<head>
<!-- <link rel="stylesheet" type="text/css" href="/inicioSesionStyle.css" media="screen" /> -->
</head>
<body>

{{#partial "contenido" }}

	<form class="clothes-form" method='post' action='/eventos/nuevo'>
	<h1>Alta de Evento</h1>
	
	<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
		<h5>Ingresar descripcion</h5>
		<input name='Descripcion' class="form-control" value='{{descripcionIngresada}}' required></input>
	</div>
    </div>
    <div class="col-sm">
      <div class="form-group">
		<h5>Elegir frecuencia</h5>
		<select name="Frecuencia" class ="form-control">
			<option value="Anual" required> Anual</option>
			<option value="Diaria" required> Diaria</option>
			<option value="Mensual" required> Mensual</option>
			<option value="Semanal" required> Semanal</option>
			<option value="UnicaVez" required> Unica vez</option> <br/>
		</select>
	</div>
    </div>
  </div>
</div>
	
	
	
	
	
	<div class="form-group">
		<button type='submit' class="btn btn-primary">Siguiente</button>
		<input type="reset" class="btn btn-secondary"><br>
	</div>
	</form>

{{/partial}}

{{> layout.hbs}}

</body>
</html>