{{#partial "contenido"}}
Prenda cargada exitosamente
      <div>
      <form name="aburrida" action="/perfil" method="GET">
          <input type="submit">
      </form>
      </div>

{{/partial}}
{{>layout.hbs}}
